@charset "utf-8";

body
{
    font-family: system-ui, sans-serif;
    font-size: 14px;
    padding: 0 1em;
    overflow-y: scroll;
    line-height: 1.333em;
}

.wrapper
{
    margin: 0 auto;
    min-width: 640px;
    max-width: 960px;
}

h1
{
    display: flex;
    align-items: center;
    line-height: 1.2em;
}

table
{
    border-collapse: collapse;
    border: 1px solid gray;
    margin: 1.5em 0;
    width: 100%;
}

tr
{
    border: 1px solid gray;
}

th, td
{
    border: 1px solid gray;
    padding: 0.5em;
}

th
{
    text-align: left;
}

td.no-wrap
{
    white-space: nowrap;
}

code, pre
{
    padding: 1px 2px 0 2px;
    background-color: #EEEEEE;
    white-space: nowrap;
}

li
{
    margin: 0.333em 0;
}
