@charset "utf-8";

:root
{
    --color:           hsl(0, 0%, 22%);
    --color-subtle:    hsl(0, 0%, 44%);
    --color-strong:    hsl(0, 0%, 11%);
    --color-strongest: hsl(0, 0%, 0%);
    --color-border:    hsl(31, 5%, 88%);
    --color-bg:        hsl(31, 5%, 96%);
    --color-accent:    hsl(196, 66%, 37%);
    --color-hover:     hsl(270, 100%, 50%);
    --color-error:     hsl(0, 100%, 40%);
    --color-highlight: hsl(55, 100%, 50%);
    --color-selection: hsl(255, 75%, 60%);
}

body
{
    overflow: auto;
}

.section
{
    display: none;
    flex-direction: row;
    margin: auto auto;
    padding: 8px 1em;
}

.section.is-shown
{
    display: flex;
}

.formula-panel,
.color-ramp-panel
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
}

.options
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 8px 0;
}

.option-group
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.option-group + .option-group
{
    margin-left: 1em;
}

.option-group .examples-button
{
    margin-left: 0.75em;
}

.option-group .save-button
{
    margin-left: 1em;
}

.formula-panel .labelled
{
    width: 100%;
    margin-top: 6px;
}

.formula-name,
.formula-string,
.result-string
{
    width: 100%;
    margin: 3px 0 4px 0;
}

.formula-name
{
    font-family: system-ui, sans-serif;
    font-size: 14px;
    padding: 0.125em 0.25em;
}

.formula-string,
.result-string
{
    font-family: Monaco, "DejaVu Sans Mono", "Noto Mono", monospace;
    font-size: 13px;
    line-height: 1.333em;
    padding: 2px 4px;
    white-space: pre;
    tab-size : 4;
    resize: none;
    overscroll-behavior: contain;
}

.result-string.error
{
    white-space: pre-wrap;
    color: var(--color-error);
}

.interface
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;
    margin-bottom: -8px;
}

.dummy
{
    width: 48px;
}

.calculate-button
{
}

.import-export-menu-button
{
    user-select: none;
    white-space: nowrap;
}

.import-export-menu-button svg.gear
{
    width: 1em;
    height: 1em;
    vertical-align: bottom;
}

.preview-area
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-area div
{
    margin-bottom: -5px;
    padding: 0;
}

.preview-area svg
{
    margin: 8px 0;
    box-shadow: 1px 1px 4px #AAAAAA;
}

.preview-area svg.disabled
{
    box-shadow: none;
}

.preview-area svg.disabled > rect
{
    stroke: lightgray;
}
